gradio
rdkit
scipy
scikit-learn
py3Dmol
pandas
openmm
torch
torchvision
torch-geometric
xgboost
lightgbm
shap
plotly
chembl_webresource_client
pubchempy
transformers
psycopg2-binary
